.yourproducts-Screen{
    /* border: 1px solid black; */
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.yourproducts-product{
    height: 50vh;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    width: 22%;
    border: 1px solid black;
}
.proName{
    font-size: 24px;
}
.yourproducts-product > img{
    height: 100%;
    width: 100%;
}